
@font-face {
    font-family: "Epilogue", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    src: url(https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap);
}

.hero-content {
    padding: 20%;
}

.hero-content > p {
    margin: 2rem 0;
    font-size: 18px;
    width: 80%;
    color: hsl(0, 0%, 41%);
}

.hero-content > h2 {
    font-size: 4rem;
    font-family: Epilogue;
}
